.mainCard{

    height: 500px;
    width: 100%;
    background-color: rgb(227, 249, 194);
}

.itemCard{

    padding: 10px;
    background-color: rebeccapurple;
    border-radius: 10px;
    margin: 10px;
    color: aliceblue;
    cursor: pointer;
    padding-top: 15px;

}

.targetCard{
    height: 500px;
    width: 100%;
    background-color: rgb(98, 81, 30);
}