.audio-design{
    height: auto;
    width: auto;
    background-color: grey;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.mainCard{
    background-color: blueviolet;
    height: 500px;
    width: 100%;
}