.audio-design{
    height: auto;
    width: auto;
    background-color: rgb(236, 215, 18);
    border: 1px solid rgb(207, 14, 14);
    margin: 10px;
    padding: 10px;
}

.mainCard{
    background-color: rgb(17, 4, 29);
    height: 200px;
    width: 100%;
}