.card-layout-design{
    border-radius: 10px;
    margin: 10px;

    box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
}

.card-layout-design h5{
    text-align: center;
    justify-content: center;
    padding-top: 4px;
}

.card-layout-design h6{
    background-color: red;
    color: white;
    height: 100px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
}